<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>edu.school.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>BaseServlet</display-name>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>edu.school.servlet.BaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminServlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>edu.school.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>AttendanceServlet</display-name>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>edu.school.servlet.AttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.school.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StudentServlet</display-name>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>edu.school.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>edu.school.servlet.TeacherServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>BoardServlet</display-name>
        <servlet-name>BoardServlet</servlet-name>
        <servlet-class>edu.school.servlet.BoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoardServlet</servlet-name>
        <url-pattern>/BoardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>YyzxServlet</servlet-name>
        <servlet-class>edu.school.servlet.YyzxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YyzxServlet</servlet-name>
        <url-pattern>/YyzxServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TieziServlet</servlet-name>
        <servlet-class>edu.school.servlet.TieziServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TieziServlet</servlet-name>
        <url-pattern>/TieziServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>edu.school.servlet.MessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/MessagesServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>edu.school.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>edu.school.servlet.ReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArchiveServlet</servlet-name>
        <servlet-class>edu.school.servlet.ArchiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArchiveServlet</servlet-name>
        <url-pattern>/ArchiveServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>edu.school.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>





</web-app>